.pwhot_table td img {
	display: inline;
	height: 60px;
	width: auto;
	margin: 3px;
}

.pwhot_table td.htImage {
	width: 150px;
}

td.htFile a {
	display: block;
}

.handsontable .htDimmed {
	background: #fdfdfd;
}

.handsontable .pwhot_currentRow {
	background: #E4EBEE;
}

.handsontable .pwhot_currentCol {
	background: #ffffff;
}